<div class="container-fluid">
<div class="row">
<% for post in @posts do  %>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.body %>% </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
<% end %>
</div>
</div>